*.egg-info
*.mo
*.pyc
*.pyo
*.so
*.swp
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
develop-eggs/
parts/
var/
*.sublime-project
*.sublime-workspace
*~
cedric/
recette_provisoire.txt
**/import_tourinsoft/donnees_contacts.txt
**/import_tourinsoft/donnees_contacts_avec_compteurs.txt
**/import_tourinsoft/fonctions_avec_compteur.txt
**/import_tourinsoft/fonctions_avec_ids.txt
**/import_tourinsoft/log.txt
**/import_tourinsoft/log_with_ids.tx
**/import_tourinsoft/log_without_ids.txt
**/import_tourinsoft/test_data/
